.js-layout-builder-block.conditional-rendering-block {
  margin-right: -2px;
  margin-left: -2px;
  border: 2px dashed #f26529;
}
.js-layout-builder-block.conditional-rendering-block::before {
  position: absolute;
  top: 0;
  left: 50%;
  margin: auto;
  padding: 3px 10px;
  content: "This is a conditional block";
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #f26529;
}
